<div class="container-fluid">
  <div id="searchGroup" class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" ng-model="searchKeyword" ng-keypress="checkEnter($event)">
        <span class="input-group-btn">
            <button type="button" ng-click="goSearch()" id="goSearchBtn" class="btn btn-default">검색</button>
        </span>
  </div>

  <div ng-show="resultArticles.length > 0" style="margin-top: 10px; margin-bottom: 10px;">
    <button ng-show="authentication.user" type="button" class="btn btn-large btn-primary" ng-click="displayArticleToHomepage()">선택된 기사 홈페이지에 올리기</button>
    <button type="button" class="btn btn-large btn-primary" ng-click="shareArticle()">선택된 기사 공유하기</button>
  </div>

  <!-- result group -->
  <div id="articleGroup" class="list-group">
    <div class='list-group-item item' ng-repeat="item in resultArticles">
      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
        <a ng-href="{{item.url}}" target="_blank">
          <h4 class="list-group-item-heading title">
            <span>{{item.title}}</span>
            <span class="media">{{item.media}}</span>
            <span class="media">{{item.article_at}}</span>
          </h4>
          <p class="list-group-item-text item-summary" ng-bind-html="item.summary"></p>
        </a>
      </md-checkbox>
    </div>
  </div>
  <!-- result group -->

</div>
