<section id="content-container">
  <form name="vm.form.mailinglistGroupForm" ng-submit="vm.save(vm.form.mailinglistGroupForm.$valid)" novalidate>
    <fieldset>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            <h1>메일링리스트 리스트 추가</h1>
            <hr>

            <div class="form-group has-feedback has-clear">
              <label class="control-label" for="name">리스트 이름</label>
              <input class="form-control" id="name" ng-model="vm.mailinglistGroup.name" placeholder="리스트 이름은 필수입니다." required>
              <span class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" aria-hidden="true"></span>
            </div>
            <div ng-messages="vm.form.mailinglistGroupForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">리스트 이름은 필수입니다.</p>
            </div>

            <hr>

            <div>
              <button type="submit" class="btn btn-primary btn-lg">추가</button>
            </div>

            <div ng-show="vm.success" class="text-success">
              <strong ng-bind="vm.success"></strong>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <br><br>
</section>
