<section data-ng-init="vm.list()">
  <div class="page-header">
    <h1>메일링리스트</h1>
    <div ng-show="vm.selected.length > 0">
      <a class="btn btn-primary" ng-click="vm.removeSelected()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <div class="list-group">
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
    <div class="row" ng-repeat="item in vm.items" class="list-group-item" >
      <div class="col-sm-1">
        <input type="checkbox" class="checkbox" ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
      </div>
      <div class="col-sm-5">
        <a ui-sref="mailinglist.list({ mailinglistGroupId: item._id })">
          <h4 class="list-group-item-heading" ng-bind="item.name"></h4>
        </a>
        <small class="list-group-item-text">
          <label>생성일 : </label>
          <span ng-bind="item.created | date:'yyyy-mm-dd HH:MM:ss'"></span>
        </small>
      </div>
      <div class="col-sm-4">
        <label>가입자수 : </label>
        <span ng-bind="item.count"></span>
      </div>
    </div>
  </div>
  <div ng-show="vm.error" class="text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>
</section>
