<section>
  <div data-ng-controller="MonitoringController" class="container-fluid" data-ng-init="vm.crawledArticles('All')">

    <div id="content-container" class="container news-index">

      <div class="page-header">
        <a ui-sref="settings.config" class="btn btn-default pull-right">키워드 편집</a>
        <button ng-show="vm.selected.length" type="button" style="margin-right: 10px;" class="btn btn-large btn-default pull-right" ng-click="vm.shareArticle()">공유하기</button>
        <h1>기사 모니터링</h1>
      </div>

      <div role="tabpanel">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{ 'active': vm.dashboardFilter === '일' }">
            <a href="#" role="tab" ng-click="vm.chart('일')" data-toggle="tab">일</a>
          </li>
          <li role="presentation" ng-class="{ 'active': vm.dashboardFilter === '월' }">
            <a href="#" role="tab" ng-click="vm.chart('월')" data-toggle="tab">월</a>
          </li>
          <li role="presebontation" ng-class="{ 'active': vm.dashboardFilter === '연도' }">
            <a href="#" role="tab" ng-click="vm.chart('연도')" data-toggle="tab">연도</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active">
            <div class="row">
              <div class="col-sm-8">
                <div id="news-count" style="height: 300px;"></div>
              </div>
              <div class="col-sm-4">
                <div id="news-percent" style="height: 300px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{ 'active': vm.filter === 'All' }">
            <a href="#" ng-click="vm.crawledArticles('All')" aria-controls="all" role="tab" data-toggle="tab">전체({{vm.counts.totalCount}})</a>
          </li>
          <li role="presentation" ng-class="{ 'active': vm.filter === 'Displayed' }">
            <a href="#" ng-click="vm.crawledArticles('Displayed')" aria-controls="tab" role="tab" data-toggle="tab">게시중({{vm.counts.displayedCount}})</a>
          </li>
          <li role="presentation" ng-class="{ 'active': vm.filter === 'NotDisplayed' }">
            <a href="#" ng-click="vm.crawledArticles('NotDisplayed')" aria-controls="tab" role="tab" data-toggle="tab">게시되지 않음({{vm.counts.notDisplayedCount}})</a>
          </li>
        </ul>

        <div class="tab-content">
          <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="item in vm.data.articles">
              <td><input type="checkbox" class="checkbox" ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)"></td>
              <td><span class="label" ng-class="{'label-default': item.displayed === false, 'label-primary': item.displayed}" ng-click="vm.toggleDisplayed(item)">{{item.displayed | displayed}}</span></td>
              <td>
                <h4 class="list-group-item-heading title">
                  <a ng-href="{{item.url}}" target="_blank">{{item.title}}</a>
                </h4>
                <a ng-href="{{item.url}}" target="_blank">
                  <p class="list-group-item-text item-summary" ng-bind-html="item.summary"></p>
                </a>
              </td>
              <td style="font-size: 12px;">
                <div>미디어 : {{item.media}}</div>
                <div>키워드 : {{item.keyword}}</div>
                <div>작성일 : {{item.articleAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              </td>
            </tr>
            </tbody>
          </table>

          <uib-pagination
            boundary-links="true"
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            max-size="vm.maxSize"
            ng-change="vm.crawledArticles(vm.filter)"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
          </uib-pagination>

        </div>
      </div>

    </div> <!-- /container -->

  </div>
</section>
