<section>
  <div data-ng-controller="MonitoringController" class="container-fluid" data-ng-init="vm.crawledArticles()">

    <div id="content-container" class="container news-index">

      <div class="page-header">
        <a ui-sref="settings.config" class="btn btn-default pull-right">키워드 편집</a>
        <h1>기사 모니터링</h1>
      </div>


      <div class="row">
        <div>
          <div style="margin-bottom: 10px;">
            <button type="button" class="btn btn-large btn-primary" ng-click="vm.shareArticle()">공유하기</button>
          </div>


          <table class="table table-bordered">
            <thead>

            </thead>
            <tbody>
            <tr ng-repeat="item in vm.data.articles">
              <td><input type="checkbox" class="checkbox" ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)"></td>
              <td><span class="label" ng-class="{'label-default': item.displayed === false, 'label-primary': item.displayed}" ng-click="vm.toggleDisplayed(item)">{{item.displayed | displayed}}</span></td>
              <td>
                <a ng-href="{{item.url}}" target="_blank">
                  <h4 class="list-group-item-heading title">

                    <span>{{item.title}}</span>
                    <span class="media">{{item.media}}</span>
                    <span class="media">{{item.articleAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                  </h4>
                  <p class="list-group-item-text item-summary" ng-bind-html="item.summary"></p>
                </a>
              </td>
            </tr>
            </tbody>
          </table>

          <uib-pagination
            boundary-links="true"
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            max-size="vm.maxSize"
            ng-change="vm.crawledArticles()"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
          </uib-pagination>

        </div>
      </div>

    </div> <!-- /container -->

  </div>
</section>
