<section>
	<div class="page-header">
		<h2>보도자료 발송현황</h2>
	</div>

  <div>
    <p>예약 전송을 취소할 수 있으며, 전송된 날짜순으로 전송결과 및 현황을 제공해 드립니다.</p>
  </div>
	<div class="list-group">
		<a data-ng-repeat="item in vm.articleSenders" class="list-group-item">
			<h4 class="list-group-item-heading">{{item.title}}</h4>
      <p>{{item.status | status}}</p>
      <small class="list-group-item-text">
        <span>{{item.created}}</span>
      </small>
      <div>
          <label>발송시점</label>
          <span>{{item.reserveTime | reserveTime}}</span>
      </div>
      <div>
      <button ng-show="item.status==='Reserved' && item.reserveTime !== 0">발송취소</button>
    </div>
		</a>
	</div>
</section>
