<section id="content-container" class="container press-write">
	<div class="page-header">
		<h1>보도자료 작성</h1>
	</div>

  <form name="vm.form.articleSenderForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleSenderForm.$valid)" novalidate>
    <fieldset>
      <div class="row">
        <div class="col-sm-2 text-center divider">
          <div id="press-logo">
            <img ng-src="/modules/article-senders/client/img/default-corp.png" alt="" class="img-responsive"/>
          </div>
        </div>
        <div class="col-sm-6">
          <h2 class="mt0">{{vm.user.corpInfo.crp_nm}}({{vm.user.corpInfo.corpCode}})</h2>
          <br><br>
          <ul>
            <li>법인등록번호 : {{vm.user.corpInfo.crp_no}}</li>
            <li>주소 : {{vm.user.corpInfo.adr}}</li>
            <li>홈페이지 : {{vm.user.corpInfo.hm_url}}</li>
            <li>전화번호 : {{vm.user.corpInfo.phn_no}}</li>
            <li>설립일 : {{vm.user.corpInfo.est_dt}}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <table id="press-info" class="table table-bordered table-condensed">
            <tr ng-hide="vm.articleSender._id">
              <th>유형</th>
              <td>
                <select class="form-control" data-ng-model="vm.articleSender.type" ng-options="t for t in vm.types" ng-change="vm.setTemplate(vm.articleSender.type)"></select>
              </td>
            </tr>
            <tr ng-hide="vm.articleSender._id">
              <th>발송시점</th>
              <td>
                <select class="form-control" data-ng-model="vm.articleSender.reserveTime" ng-options="t.data as t.text for t in vm.reserveTimeOptions"></select>
              </td>
            </tr>
            <tr ng-show="vm.articleSender.reserveTime === 999">
              <th>공시유형</th>
              <td >
                <select class="form-control" data-ng-model="vm.articleSender.dspType" ng-options="d.data as d.text for d in vm.dspTypes"></select>
              </td>
            </tr>
            <tr>
              <th>연락처</th>
              <td><input type="text" class="form-control" data-ng-model="vm.articleSender.contact"></td>
            </tr>
            <tr>
              <th>발송인</th>
              <td><input type="text" class="form-control" data-ng-model="vm.articleSender.sender"></td>
            </tr>
            <tr ng-hide="vm.articleSender._id">
              <th>희망보도 갯수</th>
              <td>
                <select class="form-control" ng-change="vm.onSendCountChanged()" data-ng-model="vm.articleSender.sendCount" id="sendCount" ng-options="c as c+'개' for c in vm.sendCounts"></select>
              </td>
            </tr>
            <tr ng-hide="vm.articleSender._id">
              <th>결제금액(원)</th>
              <td>
                <input type="text" class="form-control" ng-model="vm.articleSender.fare | number" readonly>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <hr>
      <br>
      <div class="row content-row press-headline">
        <div class="col-sm-2 content-label text-right">해드라인 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8 btn-group">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable ng-model="vm.articleSender.title" placeholder="헤드라인은 필수입니다." required></div>
          <p ng-click="vm.articleSender.title='';vm.focus('title')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <div class="row content-row press-sub-headline">
        <div class="col-sm-2 content-label text-right">서브해드라인 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable placeholder="서브헤드라인 없음" ng-model="vm.articleSender.subheadline"></div>
          <p ng-click="vm.articleSender.subheadline='';vm.focus('subheadline')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <div class="row content-row press-lead">
        <div class="col-sm-2 content-label text-right">리드 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable ng-model="vm.articleSender.lead" placeholder="리드는 필수입니다." required></div>
          <p ng-click="vm.articleSender.lead='';vm.focus('lead')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <div class="row content-row press-body">
        <div class="col-sm-2 content-label text-right">본문 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable ng-model="vm.articleSender.main" placeholder="본문은 필수입니다." required></div>
          <p ng-click="vm.articleSender.main='';vm.focus('main')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>
      <div class="row content-row press-detail">
        <div class="col-sm-2 content-label text-right">세부 사실 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable ng-model="vm.articleSender.detail" placeholder="세부사실 없음"></div>
          <p ng-click="vm.articleSender.detail='';vm.focus('detail')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <div class="row content-row press-addition">
        <div class="col-sm-2 content-label text-right">회사 요약 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <div inline-text-editor class="content-editable inline-text-editor" contentEditable ng-model="vm.articleSender.corpSummary" placeholder="추가사실 없음"></div>
          <p ng-click="vm.articleSender.corpSummary='';vm.focus('corpSummary')" class="clearer glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"></p>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <div class="row content-row press-attach" ng-hide="vm.articleSender._id">
        <div class="col-sm-2 content-label text-right">첨부이미지 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
        <div class="col-sm-8">
          <input type="file" id="imageFile" ngf-select="vm.onImageFilesSelected($files, $invalidFiles)" multiple>
          <div id="content-images">
            <a ng-repeat="image in vm.imageQueue">
              <img ng-src="{{image}}">
            </a>
          </div>
        </div>
        <div class="ol-sm-2"></div>
      </div>

      <br>
      <hr>

      <div ng-hide="vm.articleSender._id">
        <button type="submit" class="btn btn-primary btn-lg pull-right">작성완료 및 결제진행 <span class="glyphicon glyphicon-chevron-right"></span></button>
        <button type="button" class="btn btn-default btn-lg" ng-click="vm.temporarySave()">임시저장 <span class="icon-chevron-right"></span></button>
        <button type="reset" class="btn btn-default btn-lg" ng-click="vm.cancel()">취소</button>
      </div>
      <div ng-show="vm.articleSender._id">
        <button type="button" class="btn btn-default btn-lg" ui-sref="article-senders.list"><span class="glyphicon glyphicon-chevron-left"></span> 뒤로</button>
        <button type="submit" class="btn btn-primary btn-lg pull-right" style="margin-right:10px;">수정</button>
      </div>

      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
  <br><br>
</section>
