<section>
	<div class="page-header">
		<h1>보도자료 발송</h1>
	</div>
	<div class="col-md-12">
		<form name="vm.form.articleSenderForm" class="form-horizontal" ng-submit="vm.bill(vm.form.articleSenderForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">제목</label>
					<div class="controls">
						<input type="text" name="title" id="title" ng-model="vm.articleSender.title" class="form-control" placeholder="제목을 입력하세요" required>
					</div>
				</div>
				<div class="form-group">
					<!--<div>-->
						<!--<input type="radio" ng-model="vm.articleSender.contentType" value="inputContent" checked>직접입력-->
						<!--<input type="radio" ng-model="vm.articleSender.contentType" value="uploadFile">파일업로드-->
					<!--</div>-->

					<div class="controls" data-ng-show="vm.articleSender.contentType==='uploadFile'">
						<label class="control-label" for="file">보도자료파일 (doc,docx,hwp)</label>
						<input ngf-select=""  ng-model="vm.articleSender.file" id="file" name="file" ngf-accept="'doc/*'" type="file">
					</div>
          <div class="controls">
            <label class="control-label" for="file">사진자료 1</label>
            <input ngf-select=""  ng-model="vm.articleSender.image1" id="image1" name="image1" ngf-accept="'image/*'" type="file">
          </div>
          <div class="controls">
            <label class="control-label" for="file">사진자료 2</label>
            <input ngf-select=""  ng-model="vm.articleSender.image2" id="image2" name="image2" ngf-accept="'image/*'" type="file">
          </div>
          <div class="controls">
            <label class="control-label" for="file">사진자료 3</label>
            <input ngf-select=""  ng-model="vm.articleSender.image3" id="image3" name="image3" ngf-accept="'image/*'" type="file">
          </div>
					<div class="controls" data-ng-show="vm.articleSender.contentType==='inputContent'">
						<label class="control-label" for="content">내용</label>
						<div>
							<textarea data-ng-model="vm.articleSender.content" class="form-control" cols="30" rows="10" placeholder="내용을 입력하세요" name="content" id="content"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="reserveTime">발송시점</label>
					<div class="controls">
						<select ng-model="vm.articleSender.reserveTime" id="reserveTime" ng-options="t.data as t.text for t in vm.reserveTimeOptions"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="sendCount">희망보도 갯수</label>
					<div class="controls">
						<select ng-change="vm.onSendCountChanged()" data-ng-model="vm.articleSender.sendCount" id="sendCount" ng-options="c as c+'개' for c in vm.sendCounts"></select>
					</div>
				</div>
        <div class="form-group" ng-show="vm.articleSender.reserveTime===999">
          <label class="control-label" for="dspType">공시유형</label>
          <div class="controls">
            <select data-ng-model="vm.articleSender.dspType" id="dspType" ng-options="d.data as d.text for d in vm.dspTypes"></select>
          </div>
        </div>
				<div class="form-group">
					<label class="control-label">결제금액</label><label>{{vm.articleSender.fare}}원</label>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg">확인</button>
					<button type="reset" class="btn btn-default btn-lg" ng-click="vm.cancel()">취소</button>
				</div>

				<div ng-show="vm.error" class="text-danger">
					<strong ng-bind="vm.error"></strong>
				</div>

			</fieldset>
		</form>
	</div>
</section>
