<section>
  <div id="content-container" class="container">
    <div class="page-header">
      <h1>보도자료</h1>
    </div>

    <div>
      <p>예약 전송을 취소할 수 있으며, 전송된 날짜순으로 전송결과 및 현황을 제공해 드립니다.</p>

    </div>

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="pull-right">
          <div class="form-inline">
            <select name="order" id="order" ng-model="vm.order" class="form-control" ng-change="vm.onOrder($event)">
              <option value="최신순">최신순</option>
              <option value="최신발송">최신발송</option>
              <option value="오래된순">오래된순</option>
              <option value="희망보도 갯수">희망보도 갯수</option>
            </select>
            <input class="form-control" type="text" placeholder="검색어" ng-model="vm.keyword" ng-keyup="vm.search($event)">
          </div>
        </li>
        <li role="presentation" ng-class="{ 'active': vm.filter === 'All' }">
          <a href="#" ng-click="vm.queryItems('All')" aria-controls="all" role="tab" data-toggle="tab">전체({{vm.counts.totalCount}})</a>
        </li>
        <li role="presentation" ng-class="{ 'active': vm.filter === 'Reserved' }">
          <a href="#" ng-click="vm.queryItems('Reserved')" aria-controls="tab" role="tab" data-toggle="tab">발송대기({{vm.counts.reservedCount}})</a>
        </li>
        <li role="presentation" ng-class="{ 'active': vm.filter === 'Sent' }">
          <a href="#" ng-click="vm.queryItems('Sent')" aria-controls="tab" role="tab" data-toggle="tab">발송완료({{vm.counts.sentCount}})</a>
        </li>
        <li role="presentation" ng-class="{ 'active': vm.filter === 'Temporary' }">
          <a href="#" ng-click="vm.queryItems('Temporary')" aria-controls="tab" role="tab" data-toggle="tab">임시저장({{vm.counts.temporaryCount}})</a>
        </li>
        <li role="presentation" ng-class="{ 'active': vm.filter === 'Else' }">
          <a href="#" ng-click="vm.queryItems('Else')" aria-controls="tab" role="tab" data-toggle="tab">취소 및 실패({{vm.counts.elseCount}})</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="all">

          <div class="news-item" data-ng-repeat="item in vm.data.articleSenders">
            <div class="row">
              <div class="divider col-sm-8">
                <h3><a ui-sref="article-senders.preview({articleSenderId: item._id})">{{item.title}}</a></h3>
                <p><a ui-sref="article-senders.preview({articleSenderId: item._id})">{{item.content | summary}}</a></p>
                <a ng-show="item.image1" href="" ng-click="vm.downloadImage(item.image1)"><img src="{{'/images/' + item.image1}}"></a>
                <a ng-show="item.image2" href="" ng-click="vm.downloadImage(item.image2)"><img src="{{'/images/' + item.image2}}"></a>
                <a ng-show="item.image3" href="" ng-click="vm.downloadImage(item.image3)"><img src="{{'/images/' + item.image3}}"></a>
              </div>
              <div class="col-sm-4">
                <div>
                  상태 : <span for="" class="label label-default" ng-class="{ 'label-success': item.status === 'Sent', 'label-default': item.status === 'Temporary', 'label-primary': item.status === 'ReSend' , 'label-info': item.status === 'Reserved', 'label-danger': item.status === 'Error', 'label-warning': item.status === 'Canceled' }">{{item.status | status}}</span>
                  <span ng-click="vm.toggleDisplayed(item)" class="label" ng-class="{'label-default': item.displayed === false, 'label-primary': item.displayed}">{{item.displayed | displayed}}</span>
                </div>
                <div>작성일 : {{item.created | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                <div ng-show="item.sent">발송일 : {{item.sent | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                <div>발송시점 : {{item.reserveTime | reserveTime}}</div>
                <div>희망보도 갯수 : {{item.sendCount}}</div>
                <div>
                  <span ng-show="item.status === 'Reserved' && item.reserveTime !== 0">
                    <a ng-click="vm.cancelArticleSender(item)" class="btn btn-link">발송취소</a>|
                  </span>
                  <span ng-show="item.status === 'Sent'">
                    <a href="#" ng-click="vm.reSendArticle(item)" class="btn btn-link">재발송</a>|
                  </span>
                  <a ui-sref="article-senders.edit({articleSenderId: item._id})" class="btn btn-link">수정</a>|
                  <a href="#" class="btn btn-link" ng-click="vm.remove(item)">삭제</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tab panes -->
      <uib-pagination
        boundary-links="true"
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        max-size="vm.maxSize"
        ng-change="vm.queryItems(vm.filter)"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
</section>
