<section>
	<div class="page-header">
		<h2>보도자료 미리보기</h2>
	</div>
	<div class="col-md-12">
		<div>
			<label>발신자 : news@bitpr.kr</label>
		</div>
		<div>
			{{vm.authentication.user.displayName}} ({{vm.authentication.user.telephone}} / {{vm.authentication.user.cellphone}})
		</div>
		<div class="page-header">
			<h3>{{vm.articleSender.title}}</h3>
		</div>
		<div ng-bind-html="vm.articleSender.content"></div>
	</div>

	<div class="col-md-12">
		<div>
			<label>발송시점 : </label>
			<label>{{vm.articleSender.reserveTime}}시간후</label>
		</div>
		<div>
			<label>희망보도갯수 : </label>
			<label>{{vm.articleSender.sendCount}}개</label>
		</div>
		<div>
			<label>공시여부: </label>
			<label>{{vm.articleSender.beToDart}}</label>
		</div>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-primary btn-lg">발송</button>
		<a class="btn btn-default btn-lg" ui-sref="article-senders.edit({ articleSenderId : vm.articleSender._id })">수정</a>
		<button type="button" class="btn btn-default btn-lg">취소</button>
	</div>

	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
</section>
