<section data-ng-controller="ArticleSendersController" data-ng-init="findOne()">
	<div class="page-header">
		<h2>보도자료 미리보기</h2>
	</div>
	<div class="col-md-12">
		<div>
			<label>발신자 : news@bitpr.kr</label>
		</div>
		<div>
			{{authentication.user.displayName}} ({{authentication.user.telephone}} / {{authentication.user.cellphone}})
		</div>
		<div class="page-header">
			<h3>{{articleSender.title}}</h3>
		</div>
		<div ng-bind-html="articleSender.content"></div>
	</div>

	<div class="col-md-12">
		<div>
			<label>발송시점 : </label>
			<label>{{articleSender.reserveTime}}시간후</label>
		</div>
		<div>
			<label>희망보도갯수 : </label>
			<label>{{articleSender.sendCount}}개</label>
		</div>
		<div>
			<label>공시여부: </label>
			<label>{{articleSender.beToDart}}</label>
		</div>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-primary btn-lg">발송하기</button>
		<a class="btn btn-default btn-lg" href="/#!/article-senders/{{articleSender._id}}/edit">수정</a>
		<button type="button" class="btn btn-default btn-lg">취소</button>
	</div>

	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
</section>
