<div class="modal-header">
  <h3 class="modal-title">재발송</h3>
</div>
<div class="modal-body">
  <div ng-repeat="item in reporters">
    <label>
      <input type="checkbox" ng-checked="exists(item, reporterSelected)" ng-click="toggle(item, reporterSelected)"> <span>[{{item.corpName}}] {{item.name}}</span>
    </label>
  </div>
</div>
<div class="modal-footer">
  <button ng-show="reporterSelected.length > 0" class="btn btn-primary" type="button" ng-click="ok()">재발송</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">취소</button>
</div>
