<div id="content-container" class="container index">

  <div class="page-header">
    <h1>대시보드</h1>
  </div>

  <div role="tabpanel">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{ 'active': vm.filter === '일' }">
        <a href="#" role="tab" ng-click="vm.chart('일')" data-toggle="tab">일</a>
      </li>
      <li role="presentation" ng-class="{ 'active': vm.filter === '월' }">
        <a href="#" role="tab" ng-click="vm.chart('월')" data-toggle="tab">월</a>
      </li>
      <li role="presentation" ng-class="{ 'active': vm.filter === '연도' }">
        <a href="#" role="tab" ng-click="vm.chart('연도')" data-toggle="tab">연도</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="row">
          <div class="col-sm-8">
            <div id="news-count" style="height: 300px;"></div>
          </div>
          <div class="col-sm-4">
            <div id="news-percent" style="height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
