<section class="row" data-ng-controller="SettingsController" data-ng-init="getConfig()">
  <h3 class="col-md-16 text-center">환경 설정</h3>
  <div class="col-md-16">
    <fieldset>
      <div class="form-group">
        <label for="keywords">키워드</label>
        <tags-input ng-model="keywords" id="keywords"></tags-input>
      </div>
      <div class="form-group">
        <label>수집시각</label>
        <div>
          <select data-ng-model="user.crawlTimeHour" ng-options="o as o+'시' for o in hList"></select>
          <select data-ng-model="user.crawlTimeMinutes" ng-options="o as o+'분' for o in mList"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label checkbox-inline">
          <intput type="checkbox" data-ng-model="user.enabledCrawler" id="enabledCrawler"> 수집가능여부
        </label>
      </div>
      <div class="text-center form-group">
        <button ng-click="saveConfig()" type="submit" class="btn btn-large btn-primary" id="saveConfigBtn">저장</button>
      </div>
      <div data-ng-show="success" class="text-center text-success">
        <strong>저장완료</strong>
      </div>
      <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
      </div>
    </fieldset>
  </div>
</section>
