<section>
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.config">환경설정</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.crawled-list">수집된 기사목록</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.displayed-list">홈페이지에 게시된 기사목록</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">내정보</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">사진</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">암호변경</a>
        </li>
        <!--<li ui-sref-active="active">-->
          <!--<a ui-sref="settings.accounts">소셜네트웍</a>-->
        <!--</li>-->
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
