<section class="row">
  <h3 class="col-md-12 text-center">소셜미디어 계정으로 로그인</h3>
  <div class="col-md-12 text-center">
    <img class="login-icon" ng-click="vm.callOauthProvider('/api/auth/kakao')" ng-src="/modules/users/client/img/buttons/kakao.png">
    <img class="login-icon" ng-click="vm.callOauthProvider('/api/auth/naver')" ng-src="/modules/users/client/img/buttons/naver.png">
    <img class="login-icon" ng-click="vm.callOauthProvider('/api/auth/daum')" ng-src="/modules/users/client/img/buttons/daum.png">
    <img class="login-icon" ng-click="vm.callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
  </div>
  <div ui-view></div>
</section>
