<div>
  <h3 class="col-md-12 text-center">또는 비트피알 계정으로 로그인하세요.</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <uib-alert type="success" ng-show="vm.success" class="alert alert-success">
      <span ng-bind="vm.success"></span>
    </uib-alert>
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email">이메일주소 또는 상장코드</label>
          <input type="text" id="email" name="email" class="form-control" ng-model="vm.credentials.id" placeholder="이메일주소 또는 상장코드" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">이메일주소 또는 상장코드를 입력하세요.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">암호</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="암호" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">암호를 입력하세요.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">로그인</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">회원가입</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">암호를 잊으셨나요?</a>
        </div>
        <uib-alert type="danger" ng-show="vm.error" class="alert alert-danger">
          <span ng-bind="vm.error"></span>
        </uib-alert>
      </fieldset>
    </form>
  </div>
</div>
